.title {
  display: flex;
  justify-content: center;
}

.title h2 {
  position: relative;
  text-align: center;
  padding-bottom: calculateRem(40);
}

.title h2::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: calculateRem(120);
  height: calculateRem(5);
  transform: translate(-50%, -25px);
  background-color: $secondary;
}
